.report-body-shadow {
    background: #fff;
    box-shadow: 0px 0px 75px -10px rgba(0, 0, 0, 0.5);
}

.invoice-body-shadow {
    background: #fff;
    padding: 5px;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.5);
}

.report-header {
    background: #E3EAF3;
    color: #517395;
}

.items-header {
    background: #3C8DBC;
    color: #fff;
}

.label-report {
    background-color: #007da9;
    color: #fff;
    padding: 2px;
    text-align: center;
}

.visible-on-print {
    display: none;
}

@media print {
    .visible-on-print {
        display: block;
    }

    .report-body-shadow {
        box-shadow: none;
        border: none;
    }

    table, .table > tr, .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tbody > tr {
        font-size: 9px !important;
        padding: 2px;
    }
}

.border-ddd > th {
    border: 1px solid #ddd !important;
}

.border-ddd > td {
    border: 1px solid #ddd !important;
}

/*fixed header*/

.fixed {
    top: 0;
    position: fixed;
    width: auto;
    display: none;
}

.end {
    margin-top: 800px;
}