<template name="formFooterWithButtonPrintFullscreenReport">
    <div class="form-footer-acc">
        <a class="btn btn-default fullScreen pull-left"><i class="fa fa-window-maximize" aria-hidden="true"></i>
            Full Screen</a>
        <a class="btn btn-success btn-print pull-left"><i class="fa fa-print" aria-hidden="true"></i> Print</a>
        <button type="button" class="btn btn-success run"><i class="fa fa-paper-plane-o"></i> Run
        </button>
        <button type="submit" class="btn btn-primary generate"><i class="fa fa-paper-plane-o"></i> {{_ "form.btnSubmit"}}
        </button>
        <button type="reset" class="btn btn-default"><i class="fa fa-refresh"></i> {{_ "form.btnReset"}}
        </button>
    </div>
</template>